{% extends 'base.html' %}

{% block content %}
    <div class="post_foto">
        {% for post in posts %}
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.author }}</p>
        <img src="{{ post.img.url }}" width="750px">
        <p><a href="/">{{ post.url_from }}</a></p>
        <p>{{ post.timepostdate }}</p>
        <p class="news-text">{{ post.description }}</p>
        <hr class="news">
        {% endfor %}
    </div>
    {% include "pagination.html" with page=posts %}
{% endblock content %}
