{% extends 'base.html' %}

{% block title %}
{{ fotonews.title }}
{% endblock %}

{% block content %}
<div class="post_foto">
    <h2>{{ fotonews.title }}</h2>
    <p>фото: {{ fotonews.author }}</p>
    <img src="{{ fotonews.img.url }}" width="750px">
    <p>источник: <a href="/">{{ fotonews.url_from }}</a></p>
    <p>{{ fotonews.timepostdate }}</p>
    <p class="news-text">{{ fotonews.description }}</p>
    <div id="comments">
        <a name="comments"></a><h3>Комментарии:</h3>
        {% if user.is_authenticated %}
        <form method="post" id="comment_form">
            {% csrf_token %}
<div class="fieldWrapper">
    {{ form.comment.errors }}
    <textarea id="id_comment" name="comment" cols="50" rows="10" placeholder="Ваше мнение, {{ user.username }}"></textarea>
</div>
<div class="fieldWrapper">
    {{ form.name.errors }}
    <textarea id="id_name" name="name" style="display: none;">{{ user.username }}</textarea>
</div>
<div class="fieldWrapper">
    {{ form.fotoNews.errors }}
    <textarea id="id_fotoNews" name="fotoNews" style="display: none;">{{ fotonews.pk }}</textarea>
    <input type="submit" value="Отправить комментарий">
</div>

        </form>
        {% else %}
        <p>чтобы оставлять комментарии, необходимо <a href="/accounts/login/">залогиниться</a></p>
        {% endif %}
        {% for i in comments %}
            {% if i.fotoNews_id == fotonews.pk %}
                {% if i.active == 1 %}
                    <div class="comment">
                        <p class="comment_by">{{ i.name }}, {{i.created }}:</p>
                        <p class="comment_text">{{ i.comment }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <hr class="news">
</div>

{% endblock content %}