{% extends 'base.html' %}

{% block title %}
{{ fotonews.title }}
{% endblock %}

{% block content %}
<div class="post_foto">
    <h2>{{ fotonews.title }}</h2>
    <p>{{ fotonews.author }}</p>
    <img src="{{ fotonews.img.url }}" width="750px">
    <p><a href="/">{{ fotonews.url_from }}</a></p>
    <p>{{ fotonews.timepostdate }}</p>
    <p class="news-text">{{ fotonews.description }}</p>
    <hr>
    <p>test:</p>
    <p>{{ fotonews.comment }}</p>
    <hr class="news">
</div>

{% endblock content %}